@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../img/fondoMovistar.JPG);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: "Poppins", sans-serif;

}

/* NAV ICONS STYLES */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.firstImage {
    width: 5%;
    margin: 30px 0px 0px 60px;
}

.secondImage {
    width: 15%;
    margin: 30px 60px 0px 0px;
    border-radius: 10px;
}

a {
    position: absolute;
    color: #0bffeb;
    font-size: 20px;
    text-decoration: none;
    left: 45%;
}

/* PRINCIPAL TEXT STYLES */

.text-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
}

.text-container h1 {
    font-weight: 500;
}

.text-container h2 {
    font-weight: 300;
    font-size: 40px;
}

.text-container h3 {
    font-family: "Dancing Script", cursive;
    font-size: 130px;
}

.cards-container { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.card-left {
    background-color: #0d2937;
    width: 25%;
    border-radius: 10px;
    height: 30vh;
    color: #fff;
    text-align: center;
}

.card-left .top-subcard {
    text-align: center;
    color: #fff;
    background-color: #0ea8ee;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 8vh;
}

.card-left .top-subcard h1 {
    font-size: 45px;
    font-weight: 300;
    height: 100%;
}

.card-left .bottom-subcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8% 0 0 0;
}

.card-left .bottom-subcard h2 {
    font-size: 35px;
}

.card-left .bottom-subcard p {
    font-size: 25px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 40px;
    padding: 20px;
}

.card-right h2 {
    font-weight: 400;
}

.card-right .apps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-right footer {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.card-right .apps-icon i{
    border-radius: 10px;
    font-size: 30px;
}

/* ICONS STYLES AND COLORS  */

.fa-whatsapp:before { 

    color: #26B35F;
}

.fa-facebook-f:before { 

    color: #436397;
}

.fa-twitter:before { 

    color: #3096bf;
}

.fa-film:before { 

    color: #d63d7d;
}

.fa-spotify:before { 

    color: #68b85f;
}

.fa-whatsapp:before { 

    color: #26B35F;
}

